In [3]:
import pandas as pd

In [4]:
#1 Encode datasets

raw = pd.read_csv("dataset/adjusted.csv")
raw.shape

(35, 13)

In [7]:
raw.columns

Index(['Unnamed: 0', 'timestamp', 'age', 'sex', 'occupation', 'must_use_phone',
       'screen_time', 'sleep_time', 'is_smoker', 'is_alcoholics',
       'is_consuming_special_medicine', 'is_screen_time_distract_sleep',
       'difference_before_pandemic'],
      dtype='object')

In [11]:
# Demography of the respondents

raw[["sex", "age"]].groupby("sex").count()

        age
sex
Pria     26
Wanita    9

In [12]:
# Screen time description

raw[["screen_time", "sleep_time"]].describe()

             screen_time        sleep_time
count                 35                35
unique                 5                 2
top     3 - 5 jam sehari  6 - 8 jam sehari
freq                  14                22

In [19]:
raw[["screen_time", "sleep_time"]].groupby("sleep_time").describe()

                 screen_time
                       count unique               top freq
sleep_time
3 - 5 jam sehari          13      5  6 - 8 jam sehari    6
6 - 8 jam sehari          22      4  3 - 5 jam sehari   10